@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/noto-sans";
@import "../../shared/styles/tokens.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-secondary text-foreground;
  }
  .dark body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
    overflow: hidden;
  }
}
